
<div class="table-wrapper-scroll-y my-custom-scrollbar">
<table class="table table-bordered table-fixed">
    <thead>
        <tr>
            <th> {{ header }}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of products | slice: (page-1) * pageSize : page * pageSize ">
            <td> {{ item.ItemName }}</td>
        </tr>
    </tbody>
</table>
</div>
<ngb-pagination *ngIf="products.length > pageSize" [(page)]="page" [pageSize]="pageSize"
    [collectionSize]="products.length">
</ngb-pagination>