<table class="table table-bordered table-fixed">
    <thead class="thead-dark">
        <tr>
            <th> {{ header }}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of products.productItems | slice: (page-1) * pageSize : page * pageSize "
            (click)="selectItem(item.ItemID)">
            <td [class.table-active]="selectedItem === item.ItemID">
                <span style="color: red">
                    <i *ngIf="item.HighPriority" class="fa fa-exclamation-triangle"></i>
                </span>
                {{ item.ItemName }}
            </td>
        </tr>
    </tbody>
</table>

<ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="products.getSize()">
</ngb-pagination>