
thead {
    font-size: larger;
}

.table-fixed tbody {
    height: 500px;
    width: 100%;
}

.table-fixed thead,tbody,tr,td,th {
    display: block;
}
fa-exclamation-triangle {
    color: red;
    text-decoration-color: red;
}

.selected {
    background-color: grey;
}

/* This only evaluates on the primary input mehtod */
@media (any-hover: hover) {
    td:hover {
        background-color:rgba(0, 0, 0, 0.075);
    }
}

/* Smart phones touch screen */
@media (pointer: coarse) {

}
